h1, h2, h3, h4, h5, p{
    font-family: 'Muli', sans-serif;
}

.jumbotron{
    background-color: lavender;
    padding: 2rem 1rem 1rem 1rem;
}

img.profilephoto {
    min-height: 120px;
    height: 15vh;
}

p.mainline {
    font-size: x-large;
}

a.uwc {
    background-color: #045f94;
    border-color: #045f94;
}

a.uwc:hover {
    background-color: #034063;
    border-color: #034063;
}

a.sepia {
    background-color: #704214;
    border-color: #704214;
}

a.sepia:hover {
    background-color: #57330f;
    border-color: #57330f;
}

a.darktablelink {
    color: #80bdff;
}

img.resumeprofilephoto {
    min-height: 120px;
    height: 15vh;
}

.mugshot {
    background-color: white;
}

.footerlinks {
    font-family: 'Abel', sans-serif;
    font-size: small;
    font-weight: bold;
    color: darkslategray;
}

.footerlinks:hover {
    color: darkslategray;
}

.footerimage{
    font-size: large;
}

.table-dark td {
    border-color: honeydew;
    border-width: 2px;
}