.jumbotron{
    background-color: lavender;
}

img.profilephoto {
    width: auto;
}

p.mainline {
    font-size: x-large;
}

a.uwc {
    background-color: #045f94;
    border-color: #045f94;
}

a.uwc:hover {
    background-color: #034063;
    border-color: #034063;
}

a.sepia {
    background-color: #704214;
    border-color: #704214;
}

a.sepia:hover {
    background-color: #57330f;
    border-color: #57330f;
}

img.resumeprofilephoto {
    height: 15vh;
}

.mugshot {
    background-color: white;
}