.jumbotron{
    background-color: lavender;
}

img.profilephoto {
    width: auto;
}

p.mainline {
    font-size: x-large;
}

a.uwc {
    background-color: #045f94;
    border-color: #045f94;
}

a.sepia {
    background-color: #704214;
    border-color: #704214;
}